<section class="faq-section">
	<div class="container-xl">
		<div class="row">
			<div class="col-12">
				<div id="main">
					<div class="container">
						<div class="accordion" id="faq">
							<div class="card">
								{% set faqCont = pageModule.faqSection.all() %}
								{% for key, faq in faqCont %}
									<div class="card-header" id="faqhead{{ key }}">
										<a href="#" class="btn btn-header-link" data-toggle="collapse" data-target="#faq{{ key }}" {{ key == 0 ? ' class="active"' : '' }} aria-expanded="true" aria-controls="{{ key }}">{{ faq.faqTitle }}</a>
									</div>
									<div id="faq{{ key }}"  class="collapse {{ key == 0 ? 'show' : '' }}" aria-labelledby="faq{{ key }}" data-parent="#faq">
										<div class="card-body">
											{{ faq.faqDescriptions }}
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>