<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
  <head>
    <meta charset="utf-8"/>
    <title>{{ siteName }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ siteUrl }}images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ siteUrl }}images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ siteUrl }}images/favicons/favicon-16x16.png">
    <link rel="manifest" href="{{ siteUrl }}images/favicons/site.webmanifest">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link href="{{ siteUrl }}assets/slick/slick.css" rel="stylesheet" />
    {% do craft.app.view.registerCssFile('@web/css/style.css') %}
    <script src="{{ siteUrl }}assets/jquery/jquery.min.js"></script>
  </head>
  <body>
    {# <div class="page-loader-home">
      <div class="page-wrapper position-relative"> #}
        {% include 'includes/_header' %}
        {% block content %}
          {# Nothing here, yet! #}
        {% endblock %}
        {% include 'includes/_footer' %}
      {# </div>
    </div> #}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <script src="{{ siteUrl }}assets/slick/slick.min.js"></script>
    <script src="{{ siteUrl }}js/main.js"></script>
  </body>
</html>
